body{
    background-color: aquamarine;
   display: flex;
   justify-content: center;
}
.container{
    height:550px;
    width:750px;
    background-color:blanchedalmond;
    text-align: center;
    margin:70px auto;
    border-radius: 10px;
}
.img{
    margin-top:10px;
    margin-left:100px;
    height:400px;
    width:500px;
}
.btn1{
  height: 40px;
  width: 80px;
  position: relative;
right: 400px;
  top:50px;
  
}
.btn2{
    height: 40px;
    width: 80px;
    margin-left: 200px;
    margin-top:10px;
}
    